# Ignore system files
.DS_Store

# Ignore spatial files
*.shp
*.shx
*.prj
*.dbf
*.sbn
*.sbx
*.gdb/
*.xml

# Ignore text clipping artifacts (Mac)
*.textClipping

# Ignore outputs
Output/*.csv
Output/*.png
Output/*.jpeg
Output/*.jpg

# Optional: ignore input folders if not tracked
Input/
